<nav class="navbar navbar-expand-lg navbar-light sticky-top border-bottom border-3" style="background-color: #031956;border-color: #EB05FF !important;" >
    <div class="container">
        <div class=" d-flex">
            <a class="navbar-brand text-white" routerLink="/home" style="font-family: 'Quicksand', sans-serif; font-size: 30px; font-weight: bolder;"> 
              do.ist</a>
            </div>
            <li class="nav-item">
              
                    <a class="nav-link text-light  text-center animate__animated animate__infinite animate__pulse" style="border-radius: 50px;  width: 100px; background-color: #EB05FF;" type="button" (click)="logOut()">Sign Out</a>

                   
               
            </li>

    </div>
</nav>
