<app-navbar></app-navbar>
<div class="" style="background-color:  #031956;">
    
            <div class="container">
              <div class="row fullscreen align-items-center justify-content-between text-white" style="margin-top: px;">
                <div class="col-md-10 col-lg-8 col-xl-6 text-center text-lg-start my-5 mt-5 order-2 order-lg-1 banner-left animate__animated animate__backInLeft" style="margin-top: 50px; line-height: 35px; ">

                  <h1 style="font-size: 45px; line-height: 50px;  font-weight: bolder; font-family: 'Quicksand', sans-serif;" class="text-uppercase  mt-3 mb-3">Your busy<br> life deserves this.</h1>
                  <p style="font-size: 25px;">
                    Do.list is an award-winning app used by millions of people to stay organized and get more done.
                  </p>
                  <button type="button " routerLink="/signin" class="btn btn-outline-dark text-white btn-rounded mb-5 w-50 h-20 py-2 animate__animated animate__infinite animate__pulse" style=" border-radius: 50px; font-size: 25px; background-color: #EB05FF;">Get Started ></button>

                </div>
                <div class="col-md-10 col-lg-4 col-xl-6 d-flex align-items-center order-1 order-lg-2 banner-right d-flex align-self-end animate__animated animate__slower animate__bounceInUp">
                    <img style="margin-top: 50px;" class="img-fluid mt-5 back"  src="../../assets/images/cms 5.png" alt="">
                </div>
              </div>
            </div>					

</div>
